.play-icon {
    cursor: pointer;
    height: 50px !important;
    width: 50px !important;
    color: #652fa1;
}

.end-session-button {
    display: flex;
    justify-content: center;
    border: 2px solid #652fa1;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    color: #652fa1;
    font-weight: bold;
}

.stopwatch__display {
    font-size: 30px;
    font-family: math;
    font-weight: 500;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
}

.time-stamp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-icons {
    position: relative;
}

.reset-icon {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0.5rem;
    margin-top: 0.5em;
}

.stopwatch {
    margin: 1rem;
}

.stopwatch-heading {
    display: flex;
    justify-content: center;
}

.circleTimer {
    padding: 20px;
}

.waterTracker-card {
    display: flex;
    justify-content: center;
    border-radius: 1.5rem;
    margin: 1rem;
}

.waterCard {
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    height: 94%;
    margin: 0px 10px 0px 10px;
    padding: 15px 15px 0px 15px;
}

.target-chart-grid {
    margin-top: 20px;
}