.container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    width: 100%;
    max-width: 600px;
    margin: auto;
    gap: 30px;
}

.side-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.glass {
    position: relative;
    width: 150px;
    height: 300px;
    margin: 0 auto;
    border: 4px solid #ddd;
    border-radius: 50px;
    background-color: #f2f2f2;
}

.water {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #80c5de;
    box-shadow: inset 0 0 50px #1c637c;
    transition: height 0.5s ease-in-out;
    animation: wave duration timing-function delay iteration-count direction fill-mode;
}

/* Icon.css */
.icon {

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}

.current-litres {
    font-size: 50px;
}

.side-info svg {
    width: 50%;
    height: auto;
}

.side-info span {
    margin-top: 5px;
    font-size: 20px;
}

.container div {
    border: 1px solid;
}

.buttons {
    grid-column: -1/1;
}

.percentage-container {
    background-color: #dceaf4;
    color: black;
    width: 100%;
    height: 100%;
    min-height: 300px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
    z-index: 2000;
}

.progress {
    background-color: #242f53;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: 0.5 ease;
    height: 40%;
    color: white;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.waterContainer {
    width: 200px;
    height: 200px;
    background-color: #80c5de;
    border-radius: 0 0 40px 40px;
    box-shadow: inset 0 0 50px #1c637c;
    position: relative;
    overflow: hidden;
}

.waterContainer::before {
    position: absolute;
    content: '';
    width: 200%;
    height: 200%;

    top: -150%;
    left: -50%;
    border-radius: 40%;
    animation: wave 12s infinite linear;
}

.waterContainer::after {
    position: absolute;
    content: '';
    width: 204%;
    height: 204%;
    background-color: #F0F2F5;
    top: -150%;
    left: -52%;
    border-radius: 40%;
    animation: wave 12s infinite linear;
    animation-delay: 0.5s;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}