@import '../Variables.scss';

.profile {
    .title {
        font-weight: 600;
        font-size: 18px;
        color: #000000;
    }
    
    .MuiGrid-container {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .MuiTextField-root {
        width: 100%;
    }
}