:root {
    --dark-blue: #242f53;
    // --dark-blue: #272e53;
    // --light-blue: #D6ECF9;
    // --light-blue: #def5fe;
    --light-blue: #dceaf4;
    --text-blue: #344767;
    --light-grey: #F0F2F5;
}   