@import '../../variables.scss';

._cUP1np9gMvFQrcPftuf.xahN8AEzyAvQtVj17TPv {
    margin-top: 0px !important;
    margin-bottom: 30px;
}

.daily-stat-card {
    background-color: var(--light-blue)
}

.calendly-block-1 {
    margin-top: 0px;
}